.h-40vh {
    height: 40vh;
}

.header-mobile {
    height: 11rem;
    margin-bottom: 2rem;
}

.h-18vh {
    max-height: 18vh;
}

.click-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) 1;
}

.unclick-ping {
    animation: unping 1s cubic-bezier(0, 0, 0.2, 1) 1;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes unping {
    75%, 100% {
      transform: scale(2);
      opacity: 0;
    }
  }

@media (min-width: 768px) {
    .header-mobile {
        height: 7rem;
        margin-bottom: 2rem;
    }
}